<head>
    <meta charset="UTF-8">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <header class="navbar">
        <div class="container">
            <div class="logo">
                <a href="/"><b>BEEZONE</b></a>
            </div>
            <nav class="nav-links">
                <a href="https://github.com/XuanNguyen66" target="_blank" >
                    <img src="/images/github-logo-png_seeklogo-304612.png" alt="GitHub Profile"
                    style="height: 1.5rem;"
                    >
                </a>
            </nav>
        </div>
    </header>
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    <footer class="site-footer">
        <div class="container">
            <hr>
            <div class="footer-content">
                <div class="footer-info">
                    <p>&copy; 2026 <b>Beezone</b></p>
                </div>
            </div>
        </div>
    </footer>
</body>