{{ define "main" }}
<section class="intro">
    <h1>Latest Post</h1>
</section>

<section class="post-list">
    {{ range first 5 (where .Site.RegularPages "Section" "posts") }}
    <article class="post-entry">
        <header class="entry-header">
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </header>

        <div class="entry-meta">
            <span>Posted on {{ .Date.Format "2006-01-02" }}</span>
            {{ with .Params.categories }}
                in <span class="meta-categories">
                    {{ range . }}<a href="/categories/{{ . | urlize }}">{{ . }}</a> {{ end }}
                </span>
            {{ end }}
            • {{ .WordCount }} words • {{ .ReadingTime }} minute read
        </div>

        {{ with .Params.tags }}
        <div class="entry-tags">
            Tags: {{ range . }}<a href="/tags/{{ . | urlize }}">{{ . }}</a>, {{ end }}
        </div>
        {{ end }}

        <div class="entry-content">
            <p>{{ .Summary }}</p>
        </div>
        <dev class="entry-footer">
<a class="read-more" href="{{ .Permalink }}">Read more...</a>
        </dev>
<!-- 
        <footer class="entry-footer">
            <a class="read-more" href="{{ .Permalink }}">Read more...</a>
        </footer> -->
    </article>
    {{ end }}
</section>

{{ end }}